.AMH{
	position: absolute;
	background-color: rgba(255, 255, 255,0.6);
	top: 64px;
	left: 16px;
	height: 150px;
	width: 300px;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}
.introduceHP{
	position: relative;
	top: 5px;
	left: 2px;
}
.introduceName{
	position: relative;
	text-decoration: none;
	color: #696969;
	font-size: 18px;
	top: -115px;
	left: 5px;
}
.introduceYear{
	position: relative;
	text-decoration: none;
	color: #696969;
	top: -87px;
	left: -95px;
}
.introduceCOD{
	position: relative;
	text-decoration: none;
	color: #696969;
	top: -85px;
	left: 80px;
}
.introduceEntre{
	position: relative;
	text-decoration: none;
	color: rgb(0,170,0);
	font-size: 20px;
	top: -45px;
}
.mainContent{
	position: absolute;
	background-color: rgba(255, 255, 255,0.6);
	top: 64px;
	left: 16px;
	right: 16px;
	height: 1000px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 2px 5px 0 rgba(162, 170, 169, 0.7);
}
.HP{
	position: relative;
	top: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}